.home, .our-products-page{
    padding-top:0px;
    .navbar-container{
        background:transparent;
        border-bottom:none;
        .desktop-nav .navbar-menu li a{
            color:#FBF9F5;
        }
        .top_logo{
            height:80px;
            margin-top:15px;
        }
        
    }
    .mobile-menu-toggle .burger-line {
        background-color: #FBF9F5; 
    }
    .nav-normal{
        background:#FBF9F5;
        border-bottom:rgba(40,40,40,0.1) 1px solid;
        .desktop-nav .navbar-menu li a{
            color:#D1082A;
        }
        .top_logo{
            margin-top:0px;
            height:60px;
        }
        .mobile-menu-toggle .burger-line {
            background-color: #D1082A;
        }
        .mobile-menu-toggle.active .burger-line {
            background-color: #FBF9F5;
        }
    }
    .hero{
        position:relative;
        margin:10px;
        border-radius:48px;
        overflow: hidden;
        display: flex;
        min-height:calc(100vh - 20px); 
        align-items: center;
        .hero-image{
            top:0px;
            left:0px;
            position: absolute;
            width:100%;
            height:100%;
            object-position: center;
            object-fit: cover;
        }
        .hero-inner{
            position: relative;
            z-index: 2;
            color:#fff;
            padding:20px;
        }
        .overlay{
            top:0px;
            left:0px;
            position: absolute;
            width:100%;
            height:100%;
            background:rgba(20,20,20,0.2);
            background: linear-gradient(rgba(20,20,20, 0.4) 0%, rgba(20,20,20, 0) 100%);
            z-index: 1;
        }
    }
    .in_numbers{ 
        margin:20px 10px; 
        border-top:0.5px solid rgba(20,20,20,0.4);
        border-bottom:0.5px solid rgba(20,20,20,0.4);
        
        padding:40px 20px;
        .num_desc{
            font-family: "Playfair Display", serif;
            font-weight: 400;
            font-size: 48px;
            line-height: 1.2em;
            
        }
        .numbers_block{
            display: flex;
            flex-direction: row;
            gap:20px;
            justify-content: space-around;
        }
    }
   .text_image{
        margin:20vh 5vw;
        
        .text{
            padding-right:3vw;
        }
        .image{
            margin-right:3vw;
            height:32vw;
            overflow: hidden;
            border-radius:48px;
            img{
                width:100%;
            }
        }
   }

   .image_interactive{
        position: relative;
        height:48vw;
        overflow: hidden;
        margin:10px;
        border-radius: 24px;
        .image{
            width:100%;
            height:100%;
            object-fit: cover;
            object-position: center;
        }
   }

   .faq_block{
        margin:20px 10px;
        border-radius: 24px;
        background:#F2EEE5;
        padding:88px;
   }
   .accordion{
    background-color:transparent;
    border-radius: 0px;
    .accordion-item{
        border-radius: 0px;
        background-color:transparent;
        border:none;
        outline:none !important;
        border-bottom:0.5px solid #222;
        .accordion-header{
            outline:none !important;
            .accordion-button{
                background-color:transparent;
                box-shadow: none;
                border:none;
                outline:none !important;
                font-size: 32px;
                padding:15px 0px;
                &:not(.collapsed) {
                    color:#222;
                    opacity:0.8;
                }
            }
        }
        
    }
    .accordion-item:first-child{
        border-top:0.5px solid #222;
    }
    .accordion-body{
        padding-left:0px;
        padding-right:0px;
    }
   }

   .product_text{
        position: relative;
        &.sticky{
            position: fixed;
            top:200px;  
        }
   }
   .right_side{
        .image{
            margin-bottom:30px;
        }
   }
}




@media (max-width: 960px) {
    .home, .our-products-page{
        .hero{
        }
        .text_image{
            .text{
                padding-right:0px;
            }
            .image{
                border-radius:24px;
                height:55vw;
                margin-bottom:30px;
                margin-right:0px;
            }
        }
        .faq_block{
            padding:30px 20px;
            .cta_block{
                margin-bottom:40px;
            }
        }
        .accordion{
            .accordion-item{
                .accordion-header{
                    .accordion-button{
                        font-size: 24px;
                    }
                }
            }
        }
    }
    
    
}
