.home, .our-products-page {
  padding-top: 0px;
}
.home .navbar-container, .our-products-page .navbar-container {
  background: transparent;
  border-bottom: none;
}
.home .navbar-container .desktop-nav .navbar-menu li a, .our-products-page .navbar-container .desktop-nav .navbar-menu li a {
  color: #FBF9F5;
}
.home .navbar-container .top_logo, .our-products-page .navbar-container .top_logo {
  height: 80px;
  margin-top: 15px;
}
.home .mobile-menu-toggle .burger-line, .our-products-page .mobile-menu-toggle .burger-line {
  background-color: #FBF9F5;
}
.home .nav-normal, .our-products-page .nav-normal {
  background: #FBF9F5;
  border-bottom: rgba(40, 40, 40, 0.1) 1px solid;
}
.home .nav-normal .desktop-nav .navbar-menu li a, .our-products-page .nav-normal .desktop-nav .navbar-menu li a {
  color: #D1082A;
}
.home .nav-normal .top_logo, .our-products-page .nav-normal .top_logo {
  margin-top: 0px;
  height: 60px;
}
.home .nav-normal .mobile-menu-toggle .burger-line, .our-products-page .nav-normal .mobile-menu-toggle .burger-line {
  background-color: #D1082A;
}
.home .nav-normal .mobile-menu-toggle.active .burger-line, .our-products-page .nav-normal .mobile-menu-toggle.active .burger-line {
  background-color: #FBF9F5;
}
.home .hero, .our-products-page .hero {
  position: relative;
  margin: 10px;
  border-radius: 48px;
  overflow: hidden;
  display: flex;
  min-height: calc(100vh - 20px);
  align-items: center;
}
.home .hero .hero-image, .our-products-page .hero .hero-image {
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}
.home .hero .hero-inner, .our-products-page .hero .hero-inner {
  position: relative;
  z-index: 2;
  color: #fff;
  padding: 20px;
}
.home .hero .overlay, .our-products-page .hero .overlay {
  top: 0px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(20, 20, 20, 0.2);
  background: linear-gradient(rgba(20, 20, 20, 0.4) 0%, rgba(20, 20, 20, 0) 100%);
  z-index: 1;
}
.home .in_numbers, .our-products-page .in_numbers {
  margin: 20px 10px;
  border-top: 0.5px solid rgba(20, 20, 20, 0.4);
  border-bottom: 0.5px solid rgba(20, 20, 20, 0.4);
  padding: 40px 20px;
}
.home .in_numbers .num_desc, .our-products-page .in_numbers .num_desc {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.2em;
}
.home .in_numbers .numbers_block, .our-products-page .in_numbers .numbers_block {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-around;
}
.home .text_image, .our-products-page .text_image {
  margin: 20vh 5vw;
}
.home .text_image .text, .our-products-page .text_image .text {
  padding-right: 3vw;
}
.home .text_image .image, .our-products-page .text_image .image {
  margin-right: 3vw;
  height: 32vw;
  overflow: hidden;
  border-radius: 48px;
}
.home .text_image .image img, .our-products-page .text_image .image img {
  width: 100%;
}
.home .image_interactive, .our-products-page .image_interactive {
  position: relative;
  height: 48vw;
  overflow: hidden;
  margin: 10px;
  border-radius: 24px;
}
.home .image_interactive .image, .our-products-page .image_interactive .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.home .faq_block, .our-products-page .faq_block {
  margin: 20px 10px;
  border-radius: 24px;
  background: #F2EEE5;
  padding: 88px;
}
.home .accordion, .our-products-page .accordion {
  background-color: transparent;
  border-radius: 0px;
}
.home .accordion .accordion-item, .our-products-page .accordion .accordion-item {
  border-radius: 0px;
  background-color: transparent;
  border: none;
  outline: none !important;
  border-bottom: 0.5px solid #222;
}
.home .accordion .accordion-item .accordion-header, .our-products-page .accordion .accordion-item .accordion-header {
  outline: none !important;
}
.home .accordion .accordion-item .accordion-header .accordion-button, .our-products-page .accordion .accordion-item .accordion-header .accordion-button {
  background-color: transparent;
  box-shadow: none;
  border: none;
  outline: none !important;
  font-size: 32px;
  padding: 15px 0px;
}
.home .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed), .our-products-page .accordion .accordion-item .accordion-header .accordion-button:not(.collapsed) {
  color: #222;
  opacity: 0.8;
}
.home .accordion .accordion-item:first-child, .our-products-page .accordion .accordion-item:first-child {
  border-top: 0.5px solid #222;
}
.home .accordion .accordion-body, .our-products-page .accordion .accordion-body {
  padding-left: 0px;
  padding-right: 0px;
}
.home .product_text, .our-products-page .product_text {
  position: relative;
}
.home .product_text.sticky, .our-products-page .product_text.sticky {
  position: fixed;
  top: 200px;
}
.home .right_side .image, .our-products-page .right_side .image {
  margin-bottom: 30px;
}

@media (max-width: 960px) {
  .home .text_image .text, .our-products-page .text_image .text {
    padding-right: 0px;
  }
  .home .text_image .image, .our-products-page .text_image .image {
    border-radius: 24px;
    height: 55vw;
    margin-bottom: 30px;
    margin-right: 0px;
  }
  .home .faq_block, .our-products-page .faq_block {
    padding: 30px 20px;
  }
  .home .faq_block .cta_block, .our-products-page .faq_block .cta_block {
    margin-bottom: 40px;
  }
  .home .accordion .accordion-item .accordion-header .accordion-button, .our-products-page .accordion .accordion-item .accordion-header .accordion-button {
    font-size: 24px;
  }
}
